body {
  background-color: whitesmoke;
  container: border;
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  font-size: 20px;
}
.Tashkilot {
  text-decoration: none;
  color: black;
}

.Imkoniyatlar {
  text-decoration: none;
  color: black;
}
.Hamkorlarga {
  text-decoration: none;
  color: black;
}

.Yordam {
  text-decoration: none;
  color: black;
}

.Ozb {
  text-decoration: none;
  color: rgb(83, 83, 251);
  border: none;
  padding: 10px;
}
.Kirish {
  text-decoration: none;
  color: blue;
  border-color: blue;
  border-radius: 5px;
  padding: 10px;
}
.Kirish:hover {
  background-color: rgb(94, 162, 222);
  border-color: rgb(4, 22, 39);

  color: white;
}
.New-work {
  text-decoration: none;
  color: green;
  border-color: green;
  border-radius: 5px;
  padding: 10px;
}
.New-work:hover {
  background-color: green;
  border-color: green;
  color: white;
}
/* Header-two */
.header-two {
  display: flex;
  background-color: rgb(15, 15, 201);
  padding: 15px;
  gap: 50px;
}
.button-new-head {
  padding: 5px;
  background-color: rgb(13, 13, 167);
  color: white;
  border-color: rgb(13, 13, 167);
}
