* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: whitesmoke;
}
form {
  border: 2px solid;
  padding: 15px;
  background: rgb(229, 228, 228);
}
.input-box {
  padding: 5px;
  border-radius: 12px;
}
button {
  padding: 15px;
}
button:active {
  background-color: blue;
}
